<div class="fixed bottom-6 right-6 z-50">
  <button (click)="toggleChat()" 
          class="bg-amber-400 text-white p-4 rounded-full shadow-lg hover:bg-amber-500 transition">
    💬
  </button>

  <div *ngIf="chatOpen" class="mt-2 w-80 h-96 bg-white rounded-lg shadow-lg flex flex-col">
    <div class="bg-amber-400 text-white p-3 rounded-t-lg flex justify-between items-center">
      <span>Soporte</span>
      <button (click)="toggleChat()" class="font-bold">✕</button>
    </div>

    <div class="flex-1 p-3 overflow-y-auto">

     <div *ngFor="let msg of messages" class="mb-2">
  <div [ngClass]="msg.from === 'user' ? 'text-right' : 'text-left'">
    <!-- Mensaje de texto -->
    <span *ngIf="msg.text" class="inline-block bg-gray-100 p-2 rounded-lg">
      {{ msg.text }}
    </span>

    <!-- Mensaje de imagen -->
    <img *ngIf="msg.image" 
         [src]="msg.image" 
         alt="Imagen del bot" 
         class="inline-block w-16 h-16 rounded-full shadow-md ml-2">
  </div>
</div>

      
    </div>

    <form (submit)="sendMessage()" class="p-3 flex gap-2">
      <input [(ngModel)]="newMessage" name="message" type="text" placeholder="Escribí un mensaje..." required
             class="flex-1 border border-gray-300 rounded p-2 focus:outline-none focus:ring-2 focus:ring-amber-400">
      <button type="submit" class="bg-amber-400 text-white px-4 rounded hover:bg-amber-500 transition">Enviar</button>
    </form>
  </div>
</div>

